<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section class="top-banner">
    <div class="container">
      <h1 class="heading">Welcome to WeatherX</h1>
      <form method="post" action="/weather">
        <input type="text" placeholder="Search for a city" name="city" autofocus>
        <button type="submit">SUBMIT</button>
        <span class="msg"></span>
      </form>
    </div>
  </section>
  <section class="ajax-section">
    <div class="container-fluid">
    </div>
  </section>
  <footer class="page-footer">
    <div class="container">
      <small>Made with <span>❤</span> by <a href="https://twitter.com/Xemicolon" target="_blank">Xemicolon</a>
      </small>
    </div>
  </footer>

</body>
<script src="/javascripts/geoLocation.js"></script>

</html>