<!DOCTYPE html>
<html>
  <head>
    <title>XemiWeather</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome</p>
    <h1> <%= weather %></h1>
  </body>
</html>
